variables:
   ACE_ROOT: $(Build.SourcesDirectory)/ACE_TAO/ACE
   MPC_ROOT: $(Build.SourcesDirectory)/ACE_TAO/ACE/MPC
   TAO_ROOT: $(Build.SourcesDirectory)/ACE_TAO/TAO
   CIAO_ROOT: $(Build.SourcesDirectory)
   DAnCE_ROOT: $(Build.SourcesDirectory)/DAnCE
   DDS_ROOT: $(Build.SourcesDirectory)/DDS
   system.prefergit: true

resources:
- repo: self
  fetchDepth: 1

jobs:
- job: VisualStudio2017
  pool:
    vmImage: vs2017-win2016
  strategy:
    maxParallel: 4
    matrix:
      Debug64:
        BuildPlatform: x64
        BuildConfiguration: Debug
        vcpkgarch: x64-windows
      Release64:
        BuildPlatform: x64
        BuildConfiguration: Release
        vcpkgarch: x64-windows
      Debug32:
        BuildPlatform: Win32
        BuildConfiguration: Debug
        vcpkgarch: x86-windows
      Release32:
        BuildPlatform: Win32
        BuildConfiguration: Release
        vcpkgarch: x86-windows
  steps:
  - powershell: git clone --depth 1 git://github.com/Microsoft/vcpkg.git $(Build.SourcesDirectory)\vcpkg
    displayName: git clone vcpkg
  - script: .\vcpkg\bootstrap-vcpkg.bat
    displayName: Bootstrap vcpkg
  - script: .\vcpkg\vcpkg.exe install --recurse --triplet $(vcpkgarch) openssl xerces-c
    displayName: vcpkg install dependencies
  - powershell: git clone --depth 1 git://github.com/DOCGroup/ACE_TAO.git $(Build.SourcesDirectory)\ACE_TAO
    displayName: git clone ACE_TAO
  - powershell: git clone --depth 1 git://github.com/DOCGroup/MPC.git $(MPC_ROOT)
    displayName: git clone MPC
  - powershell: git clone --depth 1 git://github.com/DOCGroup/DAnCE.git $(DAnCE_ROOT)
    displayName: git clone DAnCE
  - powershell: |
      echo "#include ""ace/config-win32.h""" | out-file -encoding ASCII $(ACE_ROOT)\ace\config.h
    displayName: Create config.h file
  - powershell: |
      echo "xerces3=1" | out-file -encoding ASCII $(ACE_ROOT)\bin\MakeProjectCreator\config\default.features
      echo "ssl=1" | out-file -append -encoding ASCII $(ACE_ROOT)\bin\MakeProjectCreator\config\default.features
    displayName: Create default.features file
  - powershell: |
      cat $(ACE_ROOT)\bin\MakeProjectCreator\config\default.features
    displayName: Cat default.features file
  - powershell: perl $(ACE_ROOT)/bin/mwc.pl -type vs2017 CIAO_TAO_DAnCE.mwc
    displayName: Run script mwc.pl on CIAO_TAO_DAnCE.mwc
  - task: VSBuild@1
    displayName: Build solution CIAO_TAO_DAnCE.sln
    inputs:
      solution: CIAO_TAO_DAnCE.sln
      platform: $(BuildPlatform)
      configuration: $(BuildConfiguration)
      maximumCpuCount: true

- job: VisualStudio2015
  pool:
    vmImage: vs2015-win2012r2
  steps:
  - powershell: |
      $client = new-object System.Net.WebClient
      $client.DownloadFile("http://strawberryperl.com/download/5.28.0.1/strawberry-perl-5.28.0.1-64bit.zip","strawberry-perl.zip")
    displayName: PowerShell Script
  - task: ExtractFiles@1
    displayName: Extract files
    inputs:
      archiveFilePatterns: strawberry-perl.zip
      destinationFolder: perl
  - powershell: git clone --depth 1 git://github.com/DOCGroup/ACE_TAO.git $(Build.SourcesDirectory)\ACE_TAO
    displayName: git clone ACE_TAO
  - powershell: git clone --depth 1 git://github.com/DOCGroup/MPC.git $(MPC_ROOT)
    displayName: git clone MPC
  - powershell: git clone --depth 1 git://github.com/DOCGroup/DAnCE.git $(DAnCE_ROOT)
    displayName: git clone DAnCE
  - powershell: |
      '#include "ace/config-win32.h"' > $(ACE_ROOT)\ace\config.h
    displayName: Create config.h file
  - powershell: perl/perl/bin/perl $(ACE_ROOT)/bin/mwc.pl -type vc14 CIAO_TAO_DAnCE.mwc
    displayName: Run script mwc.pl on CIAO_TAO_DAnCE.mwc
  - task: VSBuild@1
    displayName: Build solution CIAO_TAO_DAnCE.sln
    inputs:
      solution: CIAO_TAO_DAnCE.sln
      maximumCpuCount: true

- job: Linux
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: |
      sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
      sudo apt-get --yes update
      sudo apt-get --yes install libxerces-c-dev libssl-dev g++-8
    displayName: install system package dependencies
  - powershell: git clone --depth 1 git://github.com/DOCGroup/ACE_TAO.git $(Build.SourcesDirectory)/ACE_TAO
    displayName: git clone ACE_TAO
  - powershell: git clone --depth 1 git://github.com/DOCGroup/MPC.git $(MPC_ROOT)
    displayName: git clone MPC
  - powershell: git clone --depth 1 git://github.com/DOCGroup/DAnCE.git $(DAnCE_ROOT)
    displayName: git clone DAnCE
  - powershell: git clone --depth 1 git://github.com/objectcomputing/OpenDDS $(DDS_ROOT)
    displayName: git clone OpenDDS
  - powershell: |
      '#include "ace/config-linux.h"' > $(ACE_ROOT)/ace/config.h
    displayName: Create config.h file
  - powershell: |
      'xerces3=1' > $(ACE_ROOT)/bin/MakeProjectCreator/config/default.features
      'dds4ccm_opendds=1' >> $(ACE_ROOT)/bin/MakeProjectCreator/config/default.features
      'dds_suppress_anys=0' >> $(ACE_ROOT)/bin/MakeProjectCreator/config/default.features
      'ssl=1' >> $(ACE_ROOT)/bin/MakeProjectCreator/config/default.features
    displayName: Create default.features file
  - powershell: |
      'xerces3=1' > $(ACE_ROOT)/include/makeinclude/platform_macros.GNU
      'ssl=1' >> $(ACE_ROOT)/include/makeinclude/platform_macros.GNU
      'dds4ccm_opendds=1' >> $(ACE_ROOT)/include/makeinclude/platform_macros.GNU
      'include $(ACE_ROOT)/include/makeinclude/platform_linux.GNU' >> $(ACE_ROOT)/include/makeinclude/platform_macros.GNU
    displayName: Create platform_macros file
  - powershell: perl $(ACE_ROOT)/bin/mwc.pl -type gnuace CIAO_TAO_DAnCE_OpenDDS.mwc
    displayName: Run mwc.pl on CIAO_TAO_DAnCE_OpenDDS.mwc
  - bash: make -j 6
    displayName: Build project

- job: MacOSX
  pool:
    vmImage: macOS-10.13
  steps:
  - powershell: git clone --depth 1 git://github.com/DOCGroup/ACE_TAO.git $(Build.SourcesDirectory)/ACE_TAO
    displayName: git clone ACE_TAO
  - powershell: git clone --depth 1 git://github.com/DOCGroup/MPC.git $(MPC_ROOT)
    displayName: git clone MPC
  - powershell: git clone --depth 1 git://github.com/DOCGroup/DAnCE.git $(DAnCE_ROOT)
    displayName: git clone DAnCE
  - powershell: |
      '#include "ace/config-macosx.h"' > $(ACE_ROOT)/ace/config.h
    displayName: Create config.h file
  - powershell: |
      'include $(ACE_ROOT)/include/makeinclude/platform_macosx.GNU' > $(ACE_ROOT)/include/makeinclude/platform_macros.GNU;
    displayName: Create platform_macros file
  - powershell: perl $(ACE_ROOT)/bin/mwc.pl -type gnuace CIAO_TAO_DAnCE.mwc
    displayName: Run mwc.pl on CIAO_TAO_DAnCE.mwc
  - bash: make -j 6
    displayName: Build project
